<!--The content below is only a placeholder and can be replaced.-->

<app-toolbar></app-toolbar>
<!--app-autocomplete></app-autocomplete-->
<!--app-select-model></app-select-model-->
<app-stepper></app-stepper>
<!--app-make-search></app-make-search-->
<!--app-display-card></app-display-card-->
<router-outlet></router-outlet>

<!--nav>
    <a (click)="toggleEditor('quoteControl')">Quote Control</a>
    <a (click)="toggleEditor('vin')">Enter VIN</a>
</nav>
<app-autocomplete *ngIf="showQuoteEditor"></app-autocomplete>
<app-vin *ngIf="showVinEditor"></app-vin-->

<!--app-autocomplete></app-autocomplete-->
<!--app-display-output></app-display-output-->
      